$primary: #4b51ef;
$primary-dark: #2d31b7;
$secondary: #bdbdbd;
$secondary-dark: #a3a3a3;
$secondary-medium: #d8d8d8;
$secondary-light: #f3f3f3;
$success: #52cf4f;
$success-dark: #43aa41;
$light: #ffffff;
$transparent: #0000;
$dark: #000000;
