@import '../../styles/variables';

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($dark, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: conic-gradient($transparent 10%, $primary);
  -webkit-mask: radial-gradient(
    farthest-side,
    $transparent calc(100% - 0.8rem),
    $dark 0
  );
  animation: spin 1s infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
