.app {
  height: 100vh;
  display: flex;

  &__sidebar {
    flex: 1;
    flex-basis: 15.2rem;
    background-color: #bdbdbd;
    display: flex;
    justify-content: flex-end;
  }
  &__main {
    overflow: hidden;
    overflow-y: auto;
    flex: 2;
    padding: 0.5rem 3.5rem;

    & > * {
      max-width: 114rem;
    }
    @media screen and (max-width: 25rem) {
      padding: 0.5rem 1rem;
    }
  }

  @media screen and (max-width: 55rem) {
    &__sidebar {
      flex-grow: 0;
      justify-content: flex-start;
    }
  }
  @media screen and (max-width: 40rem) {
    &__sidebar {
      flex-basis: 0;
    }
  }
}
